# Example configuration file for ensemble support

SIM_ROOT = $PWD
SIM_NAME = ensemble_example
ENSEMBLE_DIR = $SIM_ROOT/examples/ensembles
LOG_FILE = log.warning
LOG_LEVEL = DEBUG
SIMULATION_MODE = NORMAL

[PORTS]
    NAMES = DRIVER

    [[DRIVER]]
        IMPLEMENTATION = driver

[driver]
    BIN_PATH = /Users/may/Projects/IPS/IPS-framework/doc/examples/ensembles/
    NAME = ensemble_driver
    CLASS = init
    SUB_CLASS =
    SCRIPT = ${BIN_PATH}/driver.py
    TEMPLATE = template.config
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =


