# Example configuration file for ensemble support
[PORTS]
    NAMES = DRIVER WORKER

    [[DRIVER]]
        IMPLEMENTATION = driver

    [[WORKER]]
        IMPLEMENTATION = worker

[driver]
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = driver.py
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES = $STATE_FILES


[worker]
    BIN_PATH = $IPS_COMPONENTS_ROOT
    SCRIPT = worker.py
    NPROC = 1 # for each concurrent ensemble task
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES = $STATE_FILES
    A = ? # ? denotes a parameter that must be set by run_ensemble()
    B = ?
    C = ?