# Driver configuration file for the ensemble example
[PORTS]
    NAMES = DRIVER ENSEMBLE

    [[DRIVER]]
        IMPLEMENTATION = toplevel_driver

    [[ENSEMBLE]]
        TEMPLATE = my_template


[my_template]
    BIN_PATH = $IPS_COMPONENTS_ROOT
    NPROC = 1
    INPUT_FILES =
    OUTPUT_FILES =
    RESTART_FILES =
    STATE_FILES = $STATE_FILES
    TEMPLATE = worker.template
