# Template config file that will be used to generate the ensemble runs. Variables
# will be substituted from run_ensemble() in the driver script.

[PORTS]
    NAMES = DRIVER ORANGE BLUE

    [[DRIVER]]
        IMPLEMENTATION = ensemble_driver

    [[ORANGE]]
        IMPLEMENTATION = orange

    [[BASALT]]
        IMPLEMENTATION = basalt

[ensemble_driver]

[orange]
    A = ?
    B = ?
    C = ?

[basalt]
    D = ?
    B = ?
    F = ?
