# Template config file that will be used to generate the ensemble runs. Variables
# will be substituted from run_ensemble() in the driver script.

[PORTS]
    NAMES = DRIVER A_SIM ANOTHER_SIM

    [[DRIVER]]
        IMPLEMENTATION = ensemble_driver

    [[A_SIM]]
        IMPLEMENTATION = a_sim

    [[ANOTHER_SIM]]
        IMPLEMENTATION = another_sim

[ensemble_driver]

[a_sim]
    A = ?
    B = ?
    C = ?

[another_sim]
    D = ?
    B = ?
    F = ?
