# Template config file that will be used to generate the ensemble runs. Variables
# will be substituted from run_ensemble() in the driver script.

[PORTS]
    NAMES = ORANGE BLUE

    [[ORANGE]]
        IMPLEMENTATION = orange

    [[BLUE]]
        IMPLEMENTATION = blue

[orange]
    A = ?
    B = ?
    C = ?

[blue]
    A = ?
    B = ?
    C = ?
